* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
input,
button {
  outline: none;
}
body,
html {
  height: 100%;
}
